#Geocoder & Maps

## Importing libraries

In [0]:
from bs4 import BeautifulSoup
import requests
import html5lib
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Read previously saved Dataframe

In [4]:
df = pd.read_csv('neighborhoods.csv', index_col=0)
df.head()

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [5]:
df.shape

(210, 3)

In [6]:
#import Geospatial data

gdata = pd.read_csv('https://cocl.us/Geospatial_data')
gdata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
float(gdata.loc[gdata['Postal Code'] == 'M1C']['Latitude']
)

43.7845351

#Add Geo Data to the main dataframe

In [0]:
lat=[]
lg = []
for index, row in df.iterrows():
  pcode = row.Postcode
  lat.append( float(gdata.loc[gdata['Postal Code'] == pcode]['Latitude']))
  lg.append(float(gdata.loc[gdata['Postal Code'] == pcode]['Longitude']) )

df["Latitude"] = np.asarray(lat)
df["Longitude"] = np.asarray(lg)

In [9]:
df.head()

  Postcode           Borough      Neighborhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M6A        North York  Lawrence Heights  43.718518 -79.464763
4      M6A        North York    Lawrence Manor  43.718518 -79.464763